@model UserViewModel
@*@{
    List<PayHub.Models.WithdrawAccount> accounts = ViewBag.Accounts;
}*@

@if (ViewBag.Error != null) {
    <h2 class="fg-red">@ViewBag.Error</h2>
    return;
}
@section HeadMeta{
    <meta name="metro4:init" content="false">
}

<div id="app" class="container grid">
    <div class="row">
        <div class="d-flex flex-justify-center w-100">
            <div class="social-box" style="width: 400px;">
                <div class="header bg-orange fg-white">
                    <img id="avator" class="avatar bg-light" src="@Model.AvatarUri">
                    <div class="title">@Model.Account.UserName</div>
                    <div class="subtitle">@Model.Account.NickName</div>
                </div>
                <ul class="skills">
                    <li>
                        <div class="text-bold">Works</div>
                        <div>9</div>
                    </li>
                    <li>
                        <div class="text-bold">Patrons</div>
                        <div>88</div>
                    </li>
                    <li>
                        <div class="text-bold">Reward times</div>
                        <div>666</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <hr class="w-100" />
    </div>
    <div class="row mt-3 mb-3">
        <div class="d-flex flex-justify-center flex-wrap w-100 h-100">
            <div v-for="(item, index) in accounts" :key="item.uri" :id="'card_' + index"
                 class="flip-card effect-on-active"
                 style="width: 300px; height: 380px;">
                <div class="front">
                    <div class="card">
                        <div class="card-header bg-cyan fg-white">
                            <span :class="'icon mif-2x ' + item.theCurrency.icon"></span> {{item.name}} ({{item.theCurrency.unit}})
                        </div>
                        <div class="card-content p-2 text-center" style="height: 210px;">
                            <h2 class="text-center fg-gray">{{item.name}}</h2>
                            <textarea :id="'taAccount_' + index" style="height: 100px;" readonly
                                      data-role="textarea"
                                      data-clear-button="false"
                                      data-auto-size="false"
                                      v-if="item.account && item.account.length > 0"
                                      v-bind:data-prepend="getIconInfo(index)"
                                      v-on:focus="copyAccount(index)">{{item.account}}</textarea>
                        </div>
                        <div class="card-footer">
                            <button class="flat-button mif-copy info" title="Copy"
                                    v-if="item.account && item.account.length > 0"
                                    v-on:click="copyAccount(index)"></button>
                            @*<button class="flat-button mif-upload success" title="Submit a transaction" v-on:click="submitTransaction(index)"></button>*@
                            <button class="flat-button mif-arrow-right" v-on:click="toggleCard(index)"></button>
                        </div>
                    </div>
                </div>
                <div class="back">
                    <div class="card">
                        <div class="card-header bg-cyan fg-white">
                            <span :class="'icon mif-2x ' + item.theCurrency.icon"></span> {{item.name}} ({{item.theCurrency.unit}})
                        </div>
                        <div class="card-content d-flex p-2 flex-justify-center flex-align-center">
                            <img v-if="item.qrCode" style="width: 200px; height: 200px; overflow-y: auto" :src="item.qrCode" />
                            <img v-else-if="item.qrcode" style="width: 200px; height: 200px; overflow-y: auto" :src="item.qrcode" />
                            <div v-else :id="'qrcode_' + index" style="width: 200px; height: 200px; overflow-y: auto">
                            </div>
                        </div>
                        <div class="card-footer flex-justify-center">
                            <button class="flat-button mif-arrow-right" v-on:click="toggleCard(index)"></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script type="text/javascript" src="~/lib/3rd/lodash.min.js?v=1.8.3"></script>
    <script type="text/javascript" src="~/lib/3rd/qrcode.min.js"></script>
    <script type="text/javascript" src="~/lib/vue/vue.min.js?v=2.6.11"></script>
    <script type="text/javascript" src="~/js/payhub.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        //ViewModelBridge.initialize("@ViewBag.CompatibleLanguageCode", null);
        var vm = new AccountViewModel();

    document.addEventListener("DOMContentLoaded", function(event) {
        vm.init();
    });

    </script>
}
